/*ESTILOS GLOBALES*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro&display=swap');
html{
    background-color: #ECF2FF; 
    font-family: 'Open Sans', sans-serif;
}
.search{
    display:flex;
    flex-direction: column;
}
.search--center{
    height:100vh;
    justify-content: center;
    align-items: center;
}
.search--top{
    justify-content: center;
    align-items: flex-start;
}
.box-list{
    display:flex;
    justify-content: center;
    width:100%;
}